@font-face {
  font-family: 'Sharp Grotesk';
  src: url('assets/fonts/SharpGroteskTRIALBlack21.otf') format('opentype');
}

@font-face {
  font-family: 'Tiny';
  src: url('assets/fonts/TINY5x3-180.otf') format('opentype');
}

@font-face {
  font-family: 'Cirrus';
  src: url('assets/fonts/CirrusCumulus.otf') format('opentype');
}

body {
  margin: 0;
  padding: 0;
  background: #21c1e4;
  font-family: 'Quicksand', sans-serif;
  width: 100%;
  height: 100vh;
}

.frame {
  min-height: 100vh;
  border-bottom: 25px double #555;
  border-top: 25px double #555;
  border-left: 25px double #555;
  border-right: 25px double #555;
  border-image: repeating-linear-gradient(
    90deg,
    #ff73c6,
    #ff73c6 38px,
    #555 38px,
    #555 42px,
    #21c1e4 42px,
    #21c1e4 78px,
    #555 78px,
    #555 82px
  ) 20;
  box-sizing: border-box;
  text-align: center;
}

.top-title {
  font-family: 'Tiny';
  font-size: 140px;
  color: #00BF6A;
  /* text-shadow: -2px -2px 0 #004d00, 2px 2px 0 #004d00; */
  -webkit-text-stroke: 3px #595757;
  line-height: .7;
  margin-top: 20px;

}

.main-title {
  display: flex;
  flex-direction: column;
  /* gap: 5px; */
  margin: 30px 0;
  color: #FD6CB8;
}

.word {
  font-family: 'Sharp Grotesk';
  font-size: 180px;
  line-height: .8;
  -webkit-text-stroke: 3px #595757;
}

.button-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.btn {
  padding: 5px 5px;
  font-size: 40px;
  font-family: 'Cirrus';
  font-weight: 900;
  color: white;
  border: 3px solid #595757;
  border-radius: 12px;
  cursor: pointer;
  background-color: #605DFA;
}


